<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.name }} on LinkedIn" target="_blank" class="header-link-social"><h2 class="header-link-social"><i class="foundicon-linkedin"></i></h2></a>
<a href="https://github.com/{{ site.author.github_username }}" title="{{ site.author.name }} on github" target="_blank" class="header-link-social">
    <h2 class="header-link-social"><i class="foundicon-github header-link-social"></i></h2>
</a>

